* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

@media screen and (max-width: 100vw) {
  .nav-bar {
      display: none;
  }
}


@media screen and (max-width: 700px) {
.side-bar-hidden {
  display: none;
}

.nav-bar {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  /* background-color: var(--color-primary); */
  background-image: linear-gradient(to right top, #053046, #00365f, #003977, #1c398b, #4c3298, #4c3298, #4c3298, #4c3298, #1c398b, #003977, #00365f, #053046);
  
}
.nav-bar-logo{
    margin-top: 21.5px;
    margin-left: 23px;
}
.nav-bar-logo > img{
    height: 28px;
    width: 90px;
}
}
